* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

header {
  background-color: #293241; }
  header .menuProyecto {
    padding-left: 20px;
    width: 100%;
    margin-bottom: 30px; }
    header .menuProyecto div {
      display: flex;
      justify-content: space-around; }
    header .menuProyecto__a {
      color: white;
      text-decoration: none;
      transition: all 0.5s;
      margin: 20px; }
      header .menuProyecto__a:hover {
        font-weight: bolder; }

.contSolucion {
  padding: 0px; }

.rowSolucion {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .rowSolucion h3 {
    color: #3d5a80;
    text-align: center;
    margin: 60px 0px 60px 0px; }
  .rowSolucion p {
    margin-bottom: 60px;
    font-size: 20px;
    text-align: center; }

.subtituloh2 {
  font-size: 26px;
  margin-top: 20px; }

.font20px {
  font-size: 20px;
  text-align: center; }

h1 {
  margin-top: 30px; }

h3 {
  font-size: 55px;
  font-weight: bolder; }

h4 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: bolder; }

h5 {
  font-size: 14px;
  margin-top: 10px; }

.persona01 {
  background-color: #98c1d9;
  margin-top: 50px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); }

.persona02 {
  background-color: #fec829;
  margin-top: 50px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); }

.alingColumna {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fotoPersona {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .fotoPersona img {
    width: 60%; }

.resumen01 {
  background-color: #ee6c4d;
  border-radius: 10px;
  padding: 15px;
  margin-top: 60px; }

.textResumen {
  font-size: 20px;
  color: white; }

footer {
  background-color: #293241;
  padding: 30px 30px; }
  footer ul {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: white;
    margin-top: 5px; }

.row {
  margin: 0; }

#mvp {
  background-color: #ee6c4d;
  padding-bottom: 100px; }

.rowAcordeon {
  display: flex;
  justify-content: space-between; }

.acordeonMVP {
  height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4); }

.backlog {
  height: 300px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4); }
  .backlog .backlogItem {
    background-color: #ffffff;
    padding: 10px 0px 0px 25px;
    border-bottom: solid 1px #cccaca; }
    .backlog .backlogItem:hover {
      background-color: #3d5a80;
      color: white;
      font-weight: bolder; }

@media (max-width: 450px) {
  h3 {
    font-size: 40px; } }

.menuLateral {
  background-color: #3d5a80;
  margin: 5px 0px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4); }

.aparece-md {
  display: none; }

@media (max-width: 900px) {
  .desaparece-md {
    display: none; }
  .aparece-md {
    display: block; } }

.burbujas {
  position: fixed;
  right: 20px;
  top: 60px;
  display: flex;
  flex-direction: column; }
  .burbujas a {
    transition: all 0.5s; }
  .burbujas a:hover {
    transform: scale(1.1);
    color: white; }
  .burbujas img {
    width: 60px;
    margin-top: 20px; }
