// Bootstrap BIEF

.briefSubtitulo{
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ddd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") ;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ddd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") ;
  }

.coloresbrief{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.colorprimario{
    @extend .coloresbrief;
    background-color: $colorprimario;
}


.colorsecundario{
    @extend .coloresbrief;
    background-color: $colorsecundario;
}
.coloracentos{
    @extend .coloresbrief;
    background-color: $coloracentos;
}

.coloroscuro{
    @extend .coloresbrief;
    background-color: $coloroscuro;
}

.divColores{
    display: flex;
    align-items: center;
    height: 15px;
    margin-top: 15px;

    p{
        margin: 0%;
    }
}

.tiempos{
    background-color: $coloracentos;
}

// FODA

#foda{
    margin-bottom: 60px;
}

.foda{
    height: 300px;
    padding: 30px;

    div{
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 100px;
    }
    
}

.amenazas{
    @extend .foda;
    background-color: rgb(221, 122, 122);
    border-radius: 50px 0px 0px 0px;
}

.fortalezas{
    @extend .foda;
    background-color: rgb(251, 248, 75);
    border-radius: 0px 50px 0px 0px;
}

.debilidades{
    @extend .foda;
    background-color: rgb(255, 194, 25);
    border-radius: 0px 0px 0px 50px;
}

.oportunidades{
    @extend .foda;
    background-color: rgb(82, 219, 82);
    border-radius: 0px 0px 50px 0px;
}

// TAM SAM SOM

.tam{
    padding: 10px;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 60px;
    }
}

.sam{
    padding: 10px;
    margin-top: auto;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 30px;

        .h4sam{
            font-size: 90%;
        }
    }
}

.som{
    padding: 10px;
    margin-top: auto;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 30px;

        .h4som{
        font-size: 90%;
        }
    }
}