// Bootstrap BIEF

.briefSubtitulo{
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ddd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") ;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ddd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") ;
  }

.coloresbrief{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.colorprimario{
    @extend .coloresbrief;
    background-color: $colorprimario;
}


.colorsecundario{
    @extend .coloresbrief;
    background-color: $colorsecundario;
}
.coloracentos{
    @extend .coloresbrief;
    background-color: $coloracentos;
}

.coloroscuro{
    @extend .coloresbrief;
    background-color: $coloroscuro;
}

.divColores{
    display: flex;
    align-items: center;
    height: 15px;
    margin-top: 15px;

    p{
        margin: 0%;
    }
}

.tiempos{
    background-color: $coloracentos;
}

// Mision Vision Proposito

.contMision{
    
    padding: 10px;
    display: flex;

    div {
        background-color: $coloroscuro;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: 0.4);
        color: white;
    }
}

// POV

.pov{

    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: $colorprimario;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: 0.4);

    img{
        width: 90px;
        height: 90px;
        box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: 0.4);
        border-radius: 45px;
        margin-right: 30px;
    }

    p{
        color: white;
        font-size: 20px;
    }
    
}

// FODA

#foda{
    margin-bottom: 60px;
}

.foda{
    height: 300px;
    padding: 30px;

    div{
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 100px;
    }
    
}

.amenazas{
    @extend .foda;
    background-color: rgb(221, 122, 122);
    border-radius: 50px 0px 0px 0px;
}

.fortalezas{
    @extend .foda;
    background-color: rgb(251, 248, 75);
    border-radius: 0px 50px 0px 0px;
}

.debilidades{
    @extend .foda;
    background-color: rgb(255, 194, 25);
    border-radius: 0px 0px 0px 50px;
}

.oportunidades{
    @extend .foda;
    background-color: rgb(82, 219, 82);
    border-radius: 0px 0px 50px 0px;
}

// TAM SAM SOM

.tam{
    padding: 10px;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 60px;
    }
}

.sam{
    padding: 10px;
    margin-top: auto;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 30px;

        .h4sam{
            font-size: 90%;
        }
    }
}

.som{
    padding: 10px;
    margin-top: auto;
    div{
        border: 4px solid red;
        border-radius: 50%;
        padding: 30px;

        .h4som{
        font-size: 90%;
        }
    }
}

// Encuesta

.usuariosEncuestados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.imgEncuesta{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 80%;
    }
}

.encuesta{
    background-color: $coloroscuro;
    margin-top: 30px;
    color: white;
    padding: 50px 0px;
}

// Mapa Perceptual

.mapaPerceptual{
    background-color: $coloroscuro;
    color: white;
    margin-top: 60px;
    padding-bottom: 40px;
}

// Titulo

.titulo{
    background-color: $coloroscuro;
    margin-bottom: 50px;
    padding-top: 50px;

    h1{
        color: white;

    }
}