*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: $coloroscuro;

    .menuProyecto{
        padding-left: 20px;
        width: 100%;

        div{
            display: flex;
            justify-content: space-around;
        }

        &__a{
            color: white;
            text-decoration: none;
            transition: all 0.5s;
            margin: 20px;

            &:hover{
                color: $coloracentos;
            }
        }
    }
}

.subtituloh2{
    font-size: 26px;
    margin-top: 20px;

}

.font20px{
    font-size: 20px;
    text-align: center;
}

h1{
    margin-top: 30px;
}

h3{
    font-size: 55px;
    font-weight: bolder;
}

h4{
    font-size: 22px;
    margin-top: 20px;
    font-weight: bolder;

}

h5{
    font-size: 14px;
    margin-top: 10px;
}

footer{
    background-color: $coloroscuro;
    padding: 30px 30px;

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
        margin-top: 5px;
    }
}

.row{
    margin: 0;
}