.contSolucion{
    padding: 0px;
}

.rowSolucion{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    h3{
        color: $colorprimario;
        text-align: center;
        margin: 60px 0px 60px 0px;
    }

    p{
        margin-bottom: 60px;
        font-size: 20px;
        text-align: center;
    }
}

// Mision Vision Proposito

.contMision{
    
    padding: 10px;
    display: flex;

    div {
        background-color: $coloroscuro;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: 0.4);
        color: white;
    }
}