@mixin persona ($bgcolor) {
    background-color: $bgcolor;
    margin-top: 50px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba($color: #000000, $alpha: 0.3);
}

.persona01{
    @include persona ($colorsecundario);
}

.persona02{
    @include persona (#fec829);
}

.alingColumna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoPersona{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img{
        width: 60%;
    }
}

.resumen01{
    background-color: $coloracentos;
    border-radius: 10px;
    padding: 15px;
    margin-top: 60px;
}

.textResumen{
    font-size: 20px;
    color: white;
}