@import 'variables';
@import 'index';

.burbujas{
    position: fixed;
    right: 20px;
    top: 60px;
    display: flex;
    flex-direction: column;

    a{
        transition: all 0.5s;
    }

    a:hover{
        transform: scale(1.2);
    }

    img{
        width: 60px;
        margin-top: 20px;
    }
}